@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #A9ADB8;
    font-family:"Biome Light", "Century Gothic", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    overflow-x: hidden;
}

body {
    width: 100vw;
    background-color: #0A101E;
}

header {
    width: 100%;
    height: 7vh;
    background-color: #050c18;
}

main {
    width: 100%;
    justify-content: center;
}

section.habilidades,
section.informacoes-contatos, 
section.experiencias,
section.educacoes,
section.hobbies {
    background-color: #050c18;
}


